---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "@components/Card.astro";
---

<BaseLayout title="Welcome to Astro.">
  <section>
    <p>
      Welcome to my personal blog where I write about my experiences with
      software development. I am 19 years old and currently studying computer
      science at the University of Applied Sciences in Wr. Neustadt, Austria.
    </p>
    <!-- TODO: Social Media Links..., fetching github repos -->
    <h2>Here you can see a list of my github repositories:</h2>
    <Card />
  </section>
</BaseLayout>

<style>
  section {
    margin-top: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
</style>
