<footer>
  <div class="container">
    <div class="row">
      <a href="https://www.linkedin.com/in/marc-m%C3%BCller-929798253/">
        LinkedIn
      </a>
      <a href="https://github.com/L0giXX"> Github</a>
      <a href="https://twitter.com/L0giX_ATv"> Twitter</a>
      <a href="/blog"> Posts</a>
    </div>
    <p>
      Built with
      <a href="https://astro.build">Astro</a>
      {", "}
      <a href="https://mdxjs.com"> MDX</a>
      {" and "}
      <a href="https://vercel.com"> Vercel</a>
    </p>
  </div>
</footer>
<style>
  .container {
    margin-top: 8rem;
    margin-bottom: 16rem;
  }

  .row {
    display: flex;
    gap: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #cbd5e1;
  }

  a:hover {
    color: #fb7185;
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  p {
    color: #94a3b8;
    margin-top: 2rem;
  }

  p a {
    color: #94a3b8;
    margin-right: 0;
    margin-left: 0;
  }

  p a:hover {
    color: #fb7185;
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }
</style>
