---
import ProfileImage from "./ProfileImage.astro";
---

<header>
  <ProfileImage />
  <div>
    <h1>Marc Müller</h1>
    <h2>Software Engineer
    </h2>
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
  }
  h1 {
    margin: 0;
    font-weight: 600;
  }
  h2 {
    margin: 0;
    font-weight: 400;
  }
</style>
