---
import ProfileImage from "./ProfileImage.astro";
import Socials from "./Socials.astro";
---

<header>
  <div>
    <ProfileImage />
    <div class="name-div">
      <h1>Marc Müller</h1>
      <h2>Software Engineer</h2>
    </div>
  </div>
  <Socials />
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 1.5rem;
  }
  div {
    display: flex;
    align-items: center;
  }
  .name-div {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: flex-start; /* Add this line */
  }
  h1 {
    margin: 0;
    font-weight: 600;
  }
  h2 {
    margin: 0;
    font-weight: 400;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
</style>
